<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animated Login Form </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BBWebsite/index.css' %}">
  </head>
  <body>
    <div class="center">
      {% block content %}
      <h1>Login</h1>
      {% if error_message %}
      <p>{{ error_message }}</p>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
          New Member? <a href="{% url 'signup' %}">Sign-Up</a>
        </div>
      </form>
      {% endblock %}
    </div>

  </body>
</html>
