<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BBWebsite/internship.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProfileSettings</title>
  </head>
  <body>
    <script type = "module"src="./script.js"></script>
    <header>
        <div class="header-container">
          <a href="#" class="back-arrow">&#8592;</a>
          <h1>Internship Specifications</h1>
        </div>
      </header>
    <div class="container">
      <div class="box">
        <span style="color: black;"> Internship Info</span>
        <div class="input-container">
          <label for="Company">Company:</label>
          <input type="text" placeholder="Enter Company" id="company" name="company">
        </div>
        <div class="input-container">
          <label for="Location">Location:</label>
          <input type="text" placeholder="Enter Location" id="location" name="location">
        </div>
        <div class="input-container">
          <label for="internship_season">Internship Season:</label>
          <input type="text" placeholder="Enter Season" id="season" name="season">
        </div>
        <div class="input-container">
            <label for="housingbudget">Housing Budget:</label>
            <input type="text" placeholder="Enter Budget" id="budget" name="budget">
          </div>
      </div>

      <form action="{% url 'selector' %}" method="POST">
        {% csrf_token %}
        <!-- Form fields here -->
      <input type="submit" value="Find Buddies" id = "submit-button" >
      </form>

            
    </div>
  </body>
</html>
